.copyright {
    background-color: #14475F;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;  
    padding: 10px; 
    p {
        font-size: 13px;
        line-height: 20px;
        margin: 0;
        display: inline-block;
    }
}