.section__two{
    color: #414042;
    font-size: 18px;
    line-height: 22px;
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0;
    h2{
        color: #14475F;
        margin: 0 0 10px;
        padding: 0;
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
    }
    p{
        margin: 0;
    }
}