.section__three {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 15px;
    h3 {
        margin: 0 0 5px;
        padding: 0;
        color: #414042;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
    }
    ul{
        margin: 0 -15px;
        overflow: hidden;
        counter-reset: items;
    }
    li {
        width: calc(100%/2);
        float: left;
        padding: 15px 15px;
        position: relative;
        &:after{
            position: absolute;
            content: counter(items);
            counter-increment: items;
            bottom: 9px;
            right: 28px;
            font-size: 162px;
            line-height: 162px;
            font-family: 'bebas';
            font-weight: 700;
            color: #2891B2;
        } 
    }
    .cards__content {
        background-color: #1085A9;
        padding: 30px;
        min-height: 268px;
        font-size: 16px; 
    }
    .cards__content-icons {  
        @include circle(60px);
        background-color: #fff;
        font-size: 30px;
        text-align: center;
        line-height: 65px;
        text-decoration: none;
        margin-bottom: 22px;
        span{
            font-weight: 600;
            line-height: 20px;
        }
    }
    h4  {
        margin: 0 ;
        padding: 0;
        font-weight: 500;
        line-height: 23px;
        margin-bottom: 60px;
        ~ a{
            display: block;
            font-size: 16px;
            line-height: 20px;
            position: relative; 
            &::after{
                font-family: 'icomoon';
                content: "\e904";
                text-align: center;
                font-size: 10px;
                line-height: 14px;
                font-weight: 400;
                position: absolute;
                left: 74px;
                display: inline-block;
                width: 18px;
                height: 18px;
                border: solid 2px #fff;
                border-radius: 50%;     
            }
        }  
    }
    li:nth-child(3n) h4{
        margin-bottom: 4px;
    }
    li:nth-child(3n) .cards__content > p{
        margin: 0 0 23px;
        font-size: 13px;
        line-height: 16px;
        opacity: 50%;
    }
}
